body{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(32,215,249,1) 58%, rgba(241,241,241,1) 100%);
    border-top: 5px solid rgb(197, 14, 197);  
}

.columnas{
    column-count: 3;
    column-gap: 3vw;
    column-rule: 5px solid rgb(197, 14, 197); ;
}

h2{
    text-align: center;
    column-span: all;
    font-style: normal;
}

.texto{
    font-style: italic;
}

@media screen and (min-width:900px){
    .columnas{
        column-count: 3;
    }
}

@media screen and (min-width:600px) and (max-width:900px){
    .columnas{
        column-count:2;
    }
}

@media screen and (max-width:600px){
    .columnas{
        column-count:1;
    }
}